<div class="banner">
	<h1 class="titulo">EMPRESAS</h1>
  </div>
  <div class="container">
	<div class="row">
	  <div class="col-md-6">
		<img src="./../../../assets/images/empresas.jpg" class="tech-img" alt="Tech Rider">
	  </div>
	  
	  <div class="col-md-6 d-flex flex-column ">
		<p class="subtitulo">
			El programa Tech Riders está diseñado para facilitar a las empresas el <br>
			<strong>«llegar más y mejor» al talento junior del sector tecnológico.</strong>
		</p>
		<p class="descripcion">
			<strong>Con el programa Tech Riders, las empresas tecnológicas pueden impartir,
			de manera gratuita, charlas técnicas, motivacionales o softskills.</strong>
			 Contamos con una red de 70 centros,
			principalmente centros de formación profesional y algunas universidades.
		</p>
		<p class="descripcion">
			Durante una charla técnica, un alumn@ puede hacerse una idea clara de las tecnologías que se utilizan en esa empresa.
			Se puede crear una vinculación entre alumnado y ponente y, por tanto, empresa, que puede resultar muy positiva para todos.
			Si a eso le sumamos las conexiones que se puedan establecer tras la sesión (a través de LinkedIn o mensajería),
			mejor que mejor. Y no olvidemos la buena imagen que va a ofrecer la empresa a los estudiantes por el hecho de ofrecerles una formación voluntaria y gratuita.
		</p>
		<p class="descripcion">
			Nosotros nos encargamos de organizarlo todo. Decidnos qué charla queréis impartir y nosotros os asignaremos un aula compuesta por estudiantes
			del perfil que os interese.
		</p>
		<br>
		<a href="http://bit.ly/3hOsfTN" class="btn btn-dark">INSCRÍBETE</a>
	  </div>
	</div>
  </div>
