/*-----Banners paginas------*/
#cabecera_pagina {
	margin-top: 5.2rem;
}

/*ESPACIO SIDEBAR*/
aside#secondary {
	margin-top: 12rem;
}

.page-id-51 main#content article:first-child {
	margin-top: 0rem;
}

main#content article:first-child {
	margin-top: 10rem;
}

/*--------CSS NAVBAR---------*/
#header {
	text-align: left;
	position: relative;
	padding: 0px !important;
}

#logo img {
	width: 150px;
}

#header-wrap {
	position: relative;
	z-index: 200;
	color: #fff;
	background: #2d3945;
	position: fixed;
	top: 0px;
	width: 100%;
	padding-top: 3rem;
	padding-bottom: 1rem;
	border-bottom: none;
	transition: all .5s ease-in-out;
}

#header-wrap:after {
	content: "";
	display: table
}

#header-wrap:after {
	clear: both
}

#header-wrap a {
	color: inherit
}

header#header {
	width: 100%;
	margin: 0px 3rem;
	max-width: 85%;
}

/*----- CSS Hover MENU links --------*/
.menu-item a {
	color: #FFFF !important;
	font-weight: 500;
	transition: all 200ms linear;
}

.menu-item:hover a {
	color: #FFFF !important;
}

.menu-item {
	position: relative;
	padding: 5px 0 !important;
	display: inline-block;
}

#site-navigation-wrap a:hover {
	color: #ffffff
}

/*linea inferior*/
.menu-item:after {
	position: absolute;
	bottom: -3px;
	left: 0;
	width: 100%;
	height: 4px;
	content: '';
	background-color: #FFFFFF;
	opacity: 0;
	transition: all 200ms linear;
}

.menu-item:hover:after {
	bottom: 0;
	opacity: 1;
}

.menu-item {
	position: relative;
	transition: all 200ms linear;
}

/*QUITAR ESPACIO ENTRE NAVBAR Y CONTENIDO*/
#main {
	padding: 0px 0;
}

/*--------CSS FOOTER---------*/
/*QUITAR ESPACIO ENTRE FOOTER Y CONTENIDO*/
.entry-footer {
	margin-top: 0px;
}

.footer-logo {
	float: left;
	margin-right: 15px;
}

.footer-first {
	padding-top: 27px;
	font-size: 14px;
	font-weight: 700;
}

.site-info p strong {
	color: white;
}