body {
    font-family: Montserrat, sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.9;
    margin: 0;
    height: 100%;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Rokkitt, serif;
}

.container-fluid {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.banner {
	position: relative;
	width: 100vw;
	height: 120px;
	background-color: #666;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	padding-left: 5%;
	left: 50%;
	transform: translateX(-50%);
	padding-left: 20%;
	top: -16px;
  }
  
  .titulo {
	color: white;
	font-size: 2.5rem;
	font-weight: bold;
	text-align: left;
  }

/* Contenedor principal del contenido */
.content-wrapper {
    flex: 1;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    padding: 0 20px;
    width: 100%;
}

/* Imagen de la charla */
.charla-img {
    width: 100%;
    height: 60vh;
    object-fit: cover;
    border-radius: 10px;
}

/* Contenido de texto */
.content {
    width: 100%;
    max-width: 600px;
    padding-left: 20px;
}

/* Botón de inscripción */
.btn-container {
    margin-top: 40px; /* Ajuste para bajar el botón */
}

/* Media Queries */
@media (max-width: 1368px) {
    .charla-img {
        height: 70vh;
    }
}

@media (max-width: 768px) {
    .titulo {
        font-size: 2rem;
        padding: 8px 15px;
    }
}
