<div class="banner">
	<h1 class="titulo">TIPOS DE CHARLAS</h1>
  </div>
  
  <div class="container mt-5" style="width: 200%;">
	<div class="row mt-6" >
	  <div class="col-md-4">
		<div class="charla">
		  <img src="./../../../assets/images/tecnicas.jpeg" class="charla-img" alt="Charla Técnica">
		  <h5 class="charla-titulo">Técnicas</h5>
		  <p class="charla-texto">
			Estas charlas están enfocadas en mostrar y explicar las ultimas tecnologías, las nubes mas famosas, los lenguajes mas punteros o la seguridad de la red.
			Algunos ejemplos son:<br>Programación Low Code<br>Kubernetes<br>Angular | React | Vue<br>Azure<br>Ciberseguridad
		  </p>
		</div>
	  </div>
	  <div class="col-md-4">
		<div class="charla">
		  <img src="./../../../assets/images/motivacionales.jpg" class="charla-img" alt="Charla Motivacional">
		  <h5 class="charla-titulo">Motivacionales</h5>
		  <p class="charla-texto">
			Sesión para compartir experiencia de emplead@, carrera profesional, obstáculos encontrados y cómo se han superado, cómo ayuda determinada formación al crecimiento personal, decisiones que marcan el perfil laboral, etc.
			En definitiva, orientación para las personas que llevan poco tiempo estudiando tecnología y todavía no tienen claro próximos pasos.
		  </p>
		</div>
	  </div>
	  <div class="col-md-4">
		<div class="charla">
		  <img src="./../../../assets/images/Softskills.jpeg" class="charla-img" alt="Charla Softskills">
		  <h5 class="charla-titulo">Softskills</h5>
		  <p class="charla-texto">
			Las softskills son altamente valoradas por los empleadores, y pueden mejorar el rendimiento y la productividad en el entorno laboral. Liderazgo y gestión de equipos, creatividad e innovación, negociación, capacidad de colaboración y de trabajo en equipo, adaptabilidad y flexibilidad, productividad y gestión del tiempo.
			El desarrollo de estas habilidades puede mejorar la capacidad para resolver problemas y tomar decisiones efectivas, lo que puede llevar al éxito en la carrera y en la vida.
		  </p>
		</div>
	  </div>
	</div>
  </div>
  
  
  